/** Style content **/

.couchdb-query-table {

	.bar {

		width: 100%;
		clear: both;
		text-align: right;

		input {
			float: left;
			text-align: left;
		}

		.count {
			font-family: monospace;
			font-weight: bold;
		}

		.next, .prev {
			text-decoration: underline;
			cursor: pointer;
			font-family: monospace;
			padding-left: 2em;
		}

	}

}